<section class="page-title">
  <h1>Edit Income</h1>
</section>

<section class="form-section">
  <form action="/income/<%= params[:id] %>" method="post">
  <div>
    <label for="title">Source of Income</label>
    <input name="title" type="text" value="<%= @current_income[:title] %>" maxlength="100" required>
  </div>
  <div>
    <label for="memo">description (optional)</label>
    <input name="memo" type="text" value="<%= @current_income[:memo] %>">
  </div>
  <div>
    <label for="title">How much do you expect to make in one month?</label>
    <input name="income" type="number" min="0" value="<%= @current_income[:monthly_income].to_i %>" required>
  </div>
  <div>
    <label for="title">Source of Income Duration</label>
    <input name="duration" type="range" value="<%= @current_income[:duration] %>" min="1" max="12" oninput="this.nextElementSibling.value = this.value">
    <output><%= @current_income[:duration].to_i %></output> months
  </div>
  <div>
    <input type="submit" value="submit">
  </div>
  </form>
</section>