<section class="page-title">
  <h1>Edit Income</h1>
</section>

<section class="form-section">
  <form action="/income/<%= params[:id] %>" method="post">
    <input name="title" type="text" value="<%= @current_income[:title] %>" maxlength="100" required>
    <input name="memo" type="text" value="<%= @current_income[:memo] %>">
    <input name="income" type="number" min="0" value="<%= @current_income[:monthly_income].to_i %>" required>
    <div class="range-container">
      <p><span id="rangeValue">12</span><br>Source of income duration (months per year)</p>
      <input  class="range" name="duration" type="range" value="12" min="1" max="12" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)">
    </div>
    <div class="form-btns">
      <a href="/income" class="cancel-btn">cancel</a>
      <input type="submit" value="submit">
    </div>
  </form>
</section>

<div>
  <form action="/income/<%= params[:id] %>/destroy" method="post">
    <button type submit>Delete</button>
  </form>
</div>

<script type="text/javascript">
  function rangeSlide(value) {
    document.getElementById('rangeValue').innerHTML = value;
  }
</script>