<section class="page-title">
  <h1>Your Income</h1>
  <p>let's put a short description here</p>
</section>

<section class="total-income">
  <div class="main-container">
    <div class="stats">
      <div class="income-display">
        <h3>Monthly</h3>
        <span>$<%= @total_income[:month] %></span>
      </div>
    </div>
    <div class="stats">
      <div class="income-display">
        <h3>Yearly</h3>
        <span>$<%= @total_income[:year] %></span>
      </div>
    </div>
    <div clas="stats">
      <div class="income-display"></div>
    </div>

    <div class="lists">
      <div class="list-title">
        <h2>This Month</h2>
        <span><a href="/income/new"><i class="fa-solid fa-plus"></i> ADD</a></span>
      </div>
      <div class="list-container">
        <% @income.each do |i| %>
          <div class="list-entry">
            <div class="list-left">
              <h3><%= i[:title] %></h3>
              <p><%= i[:memo] %></p>
            </div>
            <div class="list-right">
              <p>$<%= i[:monthly] %> <span class="edit"><a href="/income/<%= i[:income_id] %>/edit">EDIT</a></span></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="side">
      <div class="detail_overview"></div>
    </div>
  </div>
</section>
